@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html { font-size: 2.0rem;}

@media (max-width: 812px){
	html { font-size: 0.85rem;}
}
@media (max-width: 350px){
	html { font-size: 0.7rem;}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	html { font-size: 1.5rem;}
}

body{
	background-color: white;
	font-family: "Lato";
	width: 100%;
    height: 100%;
}

section{
  position: relative;
  width: 100%;
  height: 100%;  
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  text-align: center;
}

a{
	color: #555;
	text-decoration: underline;
}

.project-title {
	color: black;
	font-size: 2.5rem;
	font-weight: 1000;
	text-shadow: 3px 3px 3px white;
}

.project-desc {
	color: black;
	font-size: 1.0rem;
	font-weight: 400;
	text-shadow: 2px 2px 2px white;
}

.under-project {
	background-color: #fff8
}

.link{
	color: white;
	text-shadow: 3px 3px 3px black;
	font-size: 1.1rem;
	font-weight: 700;
	text-decoration: none;
	position: relative;
	z-index: 1;
	display: inline-flex;

	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
}
.link:hover {
	text-decoration: none;
	color: yellow;
}
.link::before{
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #fed330 25%, rgba(0, 0, 0, 0) 40%);
	position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -1;
	will-change: width;
	transform: rotate(-2deg);
	transform-origin: left bottom
}
.link:hover::before{
	width: 0;
}
.link::before{
	transition: width .1s ease-out;
}
.link:hover::before{
	transition-duration: .15s;	
}